*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa', cursive;
   
}

/*Inicio Navegacion*/

.contenedor-nav-principal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #B5838D;
    box-shadow: 0 0 10px 0 #73454E;
}
a{
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
}
.lista-nav-principal{
    font-size: 16px;
    font-weight: 600;
    margin: 0 16px;
}

.link-contacto-nav-principal{
    margin-right: 100px;
    padding: 10px 10px;
    border-radius: 60px;
    color: white;
    background-color: #73454E;
}
    
     /* HOVER y FOCUS SECCION NAV*/

.lista-nav-principal :hover{
    color: white;

}

.lista-nav-principal :focus{
    box-shadow: 0px 0px 7px #613a42;
    padding: 10px 10px;
    border-radius: 60px;
    background-color: #B5838D;
    
} 


/* ## Estilos generales para todas las secciones ## */

h2{
    font-size: 3rem;
    font-weight: 900;
}
ul{
    list-style: none;
    display: flex;
}
.seccion{
    display: flex;
    justify-content: center;
    padding: 100px 40px;
    text-align: center;
}

.color-fondo-contenedor-gris{
    background-color: #F6F7FB;
}

/* ## Comienzo seccion presentacion ## */

.margin-section-presentacion{
    margin-top: 90px;
}
.contenido-presentacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}
.seccion-presentacion-saludo{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.titulo-principal{
    font-size: 4rem;
    margin-bottom: 16px;
    color: #B5838D;
}

.seccion-presentacion-descripcion{
    font-size: 20px;
    margin-bottom: 16px;
}

.link-seccion-presentacion{
    padding: 10px 30px;
    border-radius: 60px;
    margin-top: 20px;
    background-color: #73454E;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.imagen-principal{
   width: 450px;
}


/* ## Inicio seccion skills ## */

.contenedor-seccion-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
.texto-conocimientos{
    width: 300px;
    padding: 20px 0;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor-skills{
    background-color: white;
    border: 1px solid rgb(221, 214, 214);
    border-radius: 8px;
    padding: 35px 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-skills{
    padding-top: 30px;
    font-weight: 800;
}

.imagen-skills{
    width: 70%;
    height: auto;
}



  
/* ## Inicio seccion cita ##*/

.color-fondo-cita{
    background-color: #C9A6AD;
}
.contenedor-cita{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contenedor-cita i{
    font-size: 50px;
}
.texto-cita{
    width: 600px;
    font-size: 22px;
    padding: 30px 0;
}
.nombre-autor-cita{
    font-size: 30px;
}

/*Inicio seccion proyectos*/

.contenedor-seccion-proyectos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: white;
}

.texto-seccion-proyectos{
    padding: 20px 0;
}
.cards-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(221, 214, 214);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}
.cards-proyectos img{
    display: flex;
    width: 100%;
}

.cards-proyectos p{
    font-size: 18px;
    padding-top: 20px;
    
}

/*Inicio seccion contactame y escribime*/

.contenedor-contactame-escribime{
    background-color: white;
    border: 1px solid rgb(221, 214, 214);
    border-radius: 15px;
    display: flex;
    padding: 80px 60px;
}
.color-fondo-seccion-contacto{
    background-color: #F6F7FB;
}

/* Contactame */

.apartado-contactame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
}
.apartado-contactame h2{
    padding-bottom: 40px;
}
.apartado-contactame p{
    text-align: start;
    max-width: 400px;
    padding-bottom: 40px;
    padding-top: 10px;
}
.contenedor-link-redes{
    display: flex; 
}
.links-redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  
.links-redes-sociales .fa{
    font-size: 25px;
    color: #b5838d;
    padding: 10px 10px;
    border-radius: 50%;
}

.apartado-escribime{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* HOVER LINK REDES SOCIALES */

.links-redes-sociales i:hover{
    color: white;
    background-color: #73454E;
 }
 .links-redes-sociales a:hover{
   color: #73454E;
 }


/* Escribime */
.apartado-escribime{
    width: 100%;
}

.apartado-escribime h2{
    padding-bottom: 40px;
}
label{
    display: block;
    text-align: start;
    padding: 10px 0;
    font-weight: 800;
}

.campos-nombre-apellido{
    display: flex;
}
.campo-nombre{
    margin-right: 10px;
}
input, textarea{
    padding: 10px 10px;
    margin-right: 10px;
    background-color: #F6F7FB;
    border-radius: 15px;
    border: 1px solid #F6F7FB;
    outline: 0;
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
}
input[type="email"]{
    width: 100%;
}
textarea{
    width: 100%;
}
input[type="submit"] {
    padding: 10px 30px;
    border-radius: 60px;
    background-color: #73454E;
    color: white;
    font-size: 20px;
}

     /* FOCUS SECCION FORMULARIO */

input:focus, textarea:focus {
    box-shadow: 0px 0px 9px #613a42;
}


/* Inicio seccion footer */

.color-fondo-footer{
    background-color: #C9A6AD;
}
.contenedor-footer{
    display: flex;
    flex-direction: column;
}
.lista-principal-footer{
    display: flex;
}
.lista-principal-footer ul{
    display: flex;
}
.lista-principal-footer li{
  padding: 0 10px;
}
.lista-redes-sociales-footer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.lista-redes-sociales-footer .fa{
    padding: 10px 10px;
    margin: 0 10px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}
.lista-redes-sociales-footer i{
    font-size: 25px;
    background-color: white;
    color: #b5838d;
}
 
/* HOVER LINK REDES SOCIALES */

.lista-redes-sociales-footer i:hover{
   color: white;
   background-color: #73454E;
   box-shadow: 0px 0px 12px 4px #ffff;
}



/* MEDIA QUERIES */ 


@media screen and (max-width: 1100px) {
    .contenedor-nav-principal{
        display: none;
    }
    .contenido-presentacion{
        display: flex;
        align-items: center;
    }
    .margin-section-presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imagen-principal{
       text-align: center;
       margin-top: 100px;
    }
    .contenedor-seccion-proyectos{
        display: flex;
        flex-wrap: wrap;
        width: 810px;
    }
    .cards-proyectos{
        width: 250px;
    }
   
}

@media screen and (max-width: 900px) {
    .contenedor-contactame-escribime{
        display: flex;
        flex-direction: column;
        border: 0;
    }
    .apartado-escribime{
        padding-top: 50px;
    }
    .apartado-escribime h2{
        padding-bottom: 0;
    }
    
}

@media screen and (max-width: 767px)  {
    .contenedor-seccion-proyectos{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
    }
    .cards-proyectos{
        width: 220px;
    }

}

@media screen and (max-width:670px) {

    .titulo-principal{
        text-align: center;
    }

    .contenedor-skills{
        padding: 25px 30px;
        margin: 10px;
    }
    .imagen-skills{
        width: 50%;
        height: auto;
    }

    .texto-cita{
        width: 300px;
        font-size: 22px;
        padding: 30px 0;
    }

    .contenedor-seccion-proyectos{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
    }
    .cards-proyectos{
        width: 220px;
    }
    .lista-principal-footer{
        display: none;
    }

}

@media screen and (max-width: 530px) {

    .seccion-presentacion-descripcion{
       text-align: center;
    }

    .contenedor-seccion-proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
    }
    .cards-proyectos{
        width: 370px;
    }
    .texto-seccion-proyectos{
        font-size: 13px;
    }
    .contenedor-contactame-escribime{
        padding: 0;
    }
}
@media screen and (max-width: 460px) {

    .seccion{
        padding: 100px 0;
    }
    h2{
        font-size: 35px;
    }
    .imagen-principal{
        width: 300px;
     }

    .contenedor-seccion-proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
    }

    .cards-proyectos{
        width: 200px;
    }

    .contenedor-contactame-escribime{
        padding: 0;
    }
.apartado-contactame{
    margin-right: 0;
}

.apartado-contactame p{
    
    max-width: 300px;

}

}