*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Inicio Navegacion*/

.contenedor-nav-principal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    background-color: #e7f7ee;
    box-shadow: 0 0 10px 0 #c2e6d2;
}
.ul-nav-principal{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.lista-nav-principal{
    font-size: 1.1em;
    margin: 0 1em;
}

.contacto-nav-principal{
    margin-right: 6em;
    padding: 10px 30px;
    border-radius: 60px;
    color: white;
    background-color: #95d5b2;
}

/*Comienzo seccion presentacion*/

.seccion{
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}

